.dataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cityName {
  color: white;
  font-size: 100px;
  font-family: 'Lucida Sans';
}

.weatherConditionMain {
  color: whitesmoke;
  font-size: 40px;
  align-items: flex-end;
}

.weatherConditionDescription {
  color: antiquewhite;
  font-size: 10px;
}

.currentDate {
  color: antiquewhite;
}

.weatherConditionImage {
  height: 25px;
  width: 25px;
}

.temperatureContainer {
  display: flex;
  align-items: baseline;
}

.temperature {
  color: aliceblue;
  font-size: 80px;
}

.degreeSymbol {
  color: aliceblue;
  font-size: 30px;
}

.infoTitle {
  color: beige;
  font-size: 40px;
  margin: 10px 0 10px 0;
}

.forecastData {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.forecastItem {
  height: auto;
  width: fit-content;
  margin-left: 20px;
  margin-right: 20px;
}

.forecastTempContainer {
  display: flex;
  align-items: baseline;
}

.forecastTemperature {
  color: aliceblue;
  font-size: 50px;
}
.forecastWeatherMain {
  font-size: 30px;
}
