* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  background: url('./assets/dark-clouds.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  padding: 20px;
}
